/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

* {
    margin: auto;
}

html {
    margin: 0px;
    font-size: 62.5%;
}

header {
    width: 98vw;
    min-width: 864px;
    max-width: 1440px;
    height: auto;
}

    .banner {
        display: flex;
        background-color: lightyellow;
        border-radius: 32px;
        margin: 16px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .bannerName {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .hOne {
        font-family: serif;
        font-size: 6.4rem;
        font-weight: 700;
        margin: 0 20px;
        text-shadow: -2px 2px white;
    }

    .hTwo {
        font-family: serif;
        font-size: 4rem;
        font-style: italic;
        font-weight: 700;
        margin: 0 20px;
    }

    .bannerNav {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: baseline;
    }

    nav{
        display: flex;
        justify-content: left;
        align-items: center;
        height: auto;
        margin: 20px 48px;
    }

    nav a {
        width: 64px;
        font-size: 1.6rem;
        font-family: sans-serif;
        font-weight: 700;
        padding: 6px;
        border: 1px solid black;
        border-radius: 16px;
        text-align: center;
        text-decoration: none;
        color: black;
        background: white;
        transition: .3s;
    }

    nav a:hover {
        color: yellow;
        background: black;
        font-style: oblique;
    }

    nav a.currentPage {
        width: 72px;
        border: 6px solid blue;
        border-radius: 21px;
    }

body.homePage {
    height: 100%;
    width: 98vw;
    max-width: 1440px;
}

    .bodyContainer {
        display: inline-flex;
        margin-left: 51.5%;
    }

    .bodyText {
        width: 336px;
        display: flex;
        flex-flow: wrap;
    }

    h3 {
        font-family: sans-serif;
        font-size: 3.2rem;
        font-weight: 600;
        flex-wrap: wrap;
    }
    
    .bodyText p {
        font-family: serif;
        font-size: 1.6rem;
    }

    .boldText {
        font-weight: 600;
        color: blue;
    }

    .portfolio {
        width: 98vw;
        max-width: 1440px;
        margin: -240px 0 0 0x;
        display: inline-flex;
    }

    .photoNCG {
        width: 50vw;
        padding: 0 8px;
        min-width: 432px;
        max-width: 748px;
        margin: -240px 0 0 0;
    }

    .photoNCG img {
        width: 100%;
    }

    .myProject {
        width: 48vw;
        display: flex;
        flex-direction: column;
    }

    .myProjectButton {
        display: flex;
    }

    .button {
        font-size: 1.6rem;
        font-family: sans-serif;
        font-weight: 700;
        padding: 6px;
        border: 1px solid black;
        border-radius: 16px;
        text-align: center;
        text-decoration: none;
        color: black;
        background: lightyellow;
        transition: .3s;
    }

    .button:hover {
        color: yellow;
        background: blue;
        font-style: oblique;
    }

    .bodyPhotos {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: auto;
        padding: 0 6% 8px 0;
        object-fit: contain;
        overflow: hidden;
    }

    .photo {
        height: 13.33vw;
        min-height: 88px;
        max-height: 200px;
        width: 13.33vw;
        min-width: 88px;
        max-width: 200px;
        margin-top: 24px;
        border: 1px solid black;
        box-sizing: border-box;
        justify-content: center;
        box-shadow: 8px 8px lightgray;
    }

footer {
    width: 98vw;
    min-width: 864px;
    max-width: 1440px;
    height: auto;
}

    .footerBanner {
        display: flex;
        background-color: black;
        border-radius: 32px;
        margin: -2px 16px 16px 16px;
        flex-flow: column wrap;
    }

    .footerText {
        text-align: center;
        color: lightyellow;
        font-size: 2.4rem;
        line-height: 150%;
        padding: 8px 0 16px 0;
    }






@media (max-width: 863px){
    html {
        min-width: 512px;
    }

    header {
        width: 98vw;
        min-width: 480px;
        max-width: 863px;
    }
    
        .hOne {
            font-family: serif;
            font-size: 5.6rem;
            font-weight: 700;
            margin: 0;
            text-shadow: -2px 2px white;
        }
    
        .hTwo {
            font-family: serif;
            font-size: 2.8rem;
            font-style: italic;
            font-weight: 700;
            margin: 0;
        }
    
    body.homePage {
        height: 100%;
        width: 98vw;
        max-width: 863px;
    }
    
        .bodyContainer {
            display: inline-flex;
            margin-left: 62.5%;
        }
    
        .bodyText {
            width: 160px;
            display: flex;
            flex-flow: wrap;
        }
    
        h3 {
            font-size: 2.4rem;
            font-weight: 600;
            text-align: center;
        }
        
        .bodyText p {
            text-align: center;
        }
    
        .portfolio {
            width: 98vw;
            max-width: 863px;
            display: block;
        }
    
        .photoNCG {
            width: 57.5vw;
            padding: 0 2vw 0 4vw;
            min-width: 304px;
            max-width: 636px;
            margin: -432px 0 0 0;
        }
    
        .myProject {
            width: 86vw;
            margin: -2px 8vw 0 6vw;
            padding-top: 24px;
            display: flex;
            flex-direction: column;
            border-top: 2px solid black;
        }
    
        .myProjectButton {
            display: flex;
            justify-content: center;
        }
    
        .bodyPhotos {
            display:flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            height: auto;
            padding: 0 2vw 2vw 0;
            margin: 0 3vw 0 5vw;
            object-fit: contain;
            overflow: hidden;
        }
    
        .photo {
            height: 20vw;
            min-height: 144px;
            max-height: 200px;
            width: 20vw;
            min-width: 144px;
            max-width: 200px;
            margin: 24px 12px 0px;
        }
    
    footer {
        width: 98vw;
        min-width: 480px;
        max-width: 863px;
    }
    
        .footerBanner {
            margin: 16px;
            padding: 4px 0 12px;
            flex-flow: column wrap;
        }
    
}    






@media (max-width: 512px){

    html {
        min-width: 360px;
        max-width: 511px;
    }

    header {
        width: 92vw;
        min-width: 328px;
        max-width: 527px;
    }
    
        .banner {
            width: 92vw;
            min-width: 328px;
            display: flex;
            background-color: lightyellow;
            border-radius: 32px;
            justify-content: space-evenly;
            flex-direction: row-reverse;
            align-items: center;
        }

        .bannerName {
            width: 55vw;
            min-width: 198px;
        }

        .hOne {
            font-family: serif;
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 87.5%;
            margin: 16px 0 0 0;
            text-shadow: -2px 2px white;
        }
    
        .hTwo {
            font-family: serif;
            font-size: 2.4rem;
            font-style: italic;
            font-weight: 700;
            margin: 8px 2vw 16px 0;
        }

        .bannerNav {
            width: 30vw;
            min-width: 108px;
        }
    
        nav{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: left;
            height: auto;
            margin: 12px 20px;
        }
    
    body.homePage {
        height: 100%;
        width: 98vw;
        min-width: 328px;
        max-width: 527px;
    }
        .bodyContainer {
            width: 98vw;
            min-width: 328px;
            max-width: 480px;
            display: inline-flex;
            margin: 0;
        }

        .bodyText {
            width: 92vw;
            min-width: 296px;
            max-width: 480px;
            margin: 0 32px 0;
            display: flex;
            flex-flow: wrap;
        }

        h3 {
            margin: 0;
            font-size: 2.4rem;
            font-weight: 600;
            text-align: center;
        }

        .portfolio {
            width: 98vw;
            min-width: 328px;
            max-width: 863px;
            display: block;
        }
    
        .photoNCG {
            width: 92vw;
            padding: 0 2vw 0 4vw;
            min-width: 328px;
            max-width: 480px;
            margin: -32px 0 0 0;
        }
    
        .myProject {
            width: 88vw;
            min-width: 328px;
            max-width: 480px;
            margin: -2px 2vw 0 6vw;
            padding-top: 24px;
            display: flex;
            flex-direction: column;
            border-top: 2px solid black;
        }
    
        .myProjectButton {
            display: flex;
            justify-content: center;
        }
    
        .bodyPhotos {
            display:flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            height: auto;
            padding: 0 2vw 2vw 0;
            margin: 0 3vw 0 5vw;
            object-fit: contain;
            overflow: hidden;
        }
    
        .photo {
            height: 20vw;
            min-height: 144px;
            max-height: 200px;
            width: 20vw;
            min-width: 144px;
            max-width: 200px;
            margin: 24px 12px 0px;
        }
    
    footer {
        width: 92vw;
        min-width: 328px;
        max-width: 527px;
    }
    
    .footerBanner {
        width: 92vw;
        min-width: 328px;
        display: flex;
        background-color: black;
        border-radius: 32px;
        margin: 16px;
    }

    .footerText {
        text-align: center;
        color: lightyellow;
        font-size: 2.4rem;
        line-height: 200%;
        padding: 4px 12px 16px;
    }

    .footerText a.button {
        display: inline-block;
        line-height: 100%;
        margin: 0 32px;
        
    }

}